body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #ddd;
    color: black;
}

main {
    padding: 20px;
}

footer {
    background-color: #F8F8F8;
    color: #555;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}
/* 배너 */
.banner {
    background-image: url("https://example.com/banner.jpg");
    background-size: cover;
    color: white;
    padding: 100px 20px;
    text-align: center;
}

.banner h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: black
}

.banner p {
    font-size: 24px;
    margin-bottom: 40px;
    color: black
}

.banner .btn {
    background-color: #FCA311;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    text-decoration: none;
}

/* 소개 */
.about-us {
    background-color: #F8F8F8;
    padding: 30px 20px;
    text-align: center;
    position: fixed;
    bottom: 30px;
    left: 0;
    right: 0;
}

.about-us h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about-us p {
    font-size: 20px;
    margin-bottom: 40px;
}


header {
    position: relative;
}

#search-li {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

#search-form input[type="text"] {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#search-form button {
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;

}

.no-js {
    display: none;
    
}

