<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Login Page</title>
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script>
		function submitForm() {
			var id = $('#id').val();
			var password = $('#password').val();
			let token;
			console.log("")
			$.ajax({
				url: '/sign-api/sign-in',
				type: 'POST',

				data: {
					'id': id,
					'password': password,
					'token' : token
				},
				datatype: "json",
				success: function(data, status, xhr) {
					console.log('Success: ' + data);
					const jwt = xhr.getResponseHeader('X-AUTH-TOKEN');
					localStorage.setItem('X-AUTH-TOKEN', jwt);
					$.ajax({
						url: '/main', // mainPage를 요청하는 API endpoint 경로
						type: 'GET',
						headers: { 'X-AUTH-TOKEN': jwt }, // JWT 토큰을 헤더에 포함
						success: function(data) {
							window.location.href = '/main'
						},
						error: function(jqXHR, textStatus, errorThrown) {
							console.log('Error: ' + errorThrown);
						}
					});
				},
				error: function(jqXHR, textStatus, errorThrown) {
					console.log('Error: ' + errorThrown);
				}
			})
		}

	</script>
</head>
<body>
<h1>Login Page</h1>
<form>
	<div>
		<label for="id">ID:</label>
		<input type="text" id="id" name="id">
	</div>
	<div>
		<label for="password">Password:</label>
		<input type="password" id="password" name="password">
	</div>
	<div>
		<button type="button" onclick="submitForm()">Login</button>
	</div>
</form>
</body>
</html>
