<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      class="no-js">
<head>
  <meta charset="UTF-8">
  <title>Shopping Mall</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="/js/headerjs.js"></script>
  <script src="/js/mainPageJs.js"></script>
  <script>
    myHeader();
    mainPageJs();
    $(function(){
      $('html').removeClass('no-js');
    });
  </script>
</head>

<body>
<header>

  <nav>
    <ul>
      <li><a href="/main">Home</a></li>
      <li><a href="/addProductPage">Shop</a></li>
      <li><a href="/cart">Cart</a></li>
      <li><a href="/contactPage">Contact</a></li>
      <li>
        <a href="/sign-api/login" id="login-btn">Login</a>
        <a href="/main" id="logout-btn">Logout</a>
      </li>
      <li><a href="/sign-api/register" id="register-btn">Sign up</a></li>
      <li><a href="/mypage" id ="mypage-btn">My Page</a></li>
      <li id = "search-li">
        <form id="search-form" action="/searchPage" method="GET">
          <input type="text" name="q" placeholder="물품 검색">
          <button type="button" onclick="submitSearchForm()">검색</button>
        </form>
      </li>
    </ul>
  </nav>
</header>

<main>
  <section class="banner" >
    <h1>Welcome to Shopping Mall</h1>
    <a href="/getProductPage" class="btn">Shop Now</a>
  </section>
  <section class="about-us">

    <h2>About This</h2>
    <p>스프링 부트를 공부하고 처음으로 만드는 쇼핑몰 토이 프로젝트</p>
  </section>

</main>

<footer>
  <p>&copy; 2023 Shopping Mall Project</p>
  <div id="profile">
  </div>
</footer>
</body>
</html>
