<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Shopping Mall</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="/js/headerjs.js"></script>
  <script>
    myHeader();
  </script>
</head>

<body>
<header>
  <include src="header.html"></include>
  <nav>
    <ul>
      <li><a href="/main">Home</a></li>
      <li><a href="/addProductPage">Shop</a></li>
      <li><a href="/cart">Cart</a></li>
      <li><a href="/contactPage">Contact</a></li>
      <li>
        <a href="/sign-api/login" id="login-btn" sec:authorize="isAnonymous()">Login</a>
        <a href="" id="logout-btn" sec:authorize="isAuthenticated()">Logout</a>
      </li>
      <li><a href="/sign-api/register" id="register-btn">Sign up</a></li>
      <li><a href="/mypage" id ="mypage-btn">My Page</a></li>
    </ul>
  </nav>
</header>

<main>
  <section class="banner">
    <h1>Welcome to our Shopping Mall</h1>
    <p>Shop the latest trends and styles.</p>
    <a href="/getProductPage" class="btn">Shop Now</a>
  </section>
  <section class="about-us">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget fringilla ipsum. Nam ut lacinia ex, non semper ipsum. Fusce elementum eleifend nunc, eu vehicula leo posuere id. Nunc congue, erat vel vulputate vestibulum, dolor leo dignissim erat, eget vulputate metus felis vel mauris.</p>
    <a href="#" class="btn">Learn More</a>
  </section>
</main>

<footer>
  <p>&copy; 2023 Shopping Mall. All rights reserved.</p>
</footer>
</body>
</html>
