<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>비밀번호 재설정</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        function resetPassword() {
            var name = $('#name').val();
            var id = $('#id').val();
            var phone = $('#phone').val();

            $.ajax({
                url: '/search_user_pw',
                type: 'GET',
                data: {
                    name: name,
                    id: id,
                    phone: phone
                },
                success: function(response) {
                    if (response) {
                        // 상태 코드가 200일 때 처리
                        window.location.href = '/getResetPwPage?id=' + id + '&phone=' + phone;
                    } else {
                        // 객체가 존재하지 않는 경우 처리
                        console.log(response);
                        console.log('객체가 존재하지 않습니다.');
                    }
                },
                error: function(error) {
                    console.log('비밀번호 재설정 요청에 실패하였습니다.');
                    console.log(error);
                },
            });
        }
    </script>
</head>
<body>
<h1>비밀번호 재설정</h1>
<form>
    <div class="input-group">
        <label for="name">이름:</label>
        <input type="text" id="name" name="name">
    </div>
    <div class="input-group">
        <label for="id">아이디:</label>
        <input type="text" id="id" name="id">
    </div>
    <div class="input-group">
        <label for="phone">전화번호:</label>
        <input type="text" id="phone" name="phone">
    </div>
    <div>
        <button type="button" onclick="resetPassword()">비밀번호 재설정</button>
    </div>
</form>
</body>
</html>
