<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" class="no-js"><head>
  <meta charset="UTF-8">
  <title>상품 상세 페이지</title>
  <!-- 필요한 CSS와 JavaScript 파일을 여기에 추가하세요 -->
  <link rel="stylesheet" href="/css/productDetailStyle.css">
  <link rel="stylesheet" href="/css/style.css">

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="/js/productDetail.js"></script>
  <script src="/js/headerjs.js"></script>
  <script>
    myHeader();
  </script>
</head>
<body>
<header>
  <include src="header.html"></include>
  <nav>
    <ul>
      <li><a href="/main">Home</a></li>
      <li><a href="/addProductPage">Shop</a></li>
      <li><a href="/cart">Cart</a></li>
      <li><a href="/contactPage">Contact</a></li>
      <li>
        <a href="/sign-api/login" id="login-btn" sec:authorize="isAnonymous()">Login</a>
        <a href="" id="logout-btn" sec:authorize="isAuthenticated()">Logout</a>
      </li>
      <li><a href="/sign-api/register" id="register-btn">Sign up</a></li>
      <li><a href="/mypage" id ="mypage-btn">My Page</a></li>
      <li id = "search-li">
        <form id="search-form" action="/searchPage" method="GET">
          <input type="text" name="q" placeholder="물품 검색">
          <button type="button" onclick="submitSearchForm()">검색</button>
        </form>
      </li>
    </ul>
  </nav>
</header>
<div class="product-detail">
  <div class="product-info">
    <h2 id="product-name"></h2>
    <p id="product-stock"></p>
    <p id="product-price"></p>
    <div class="quantity-container">
      <label for="quantity">구매 수량:</label>
      <input type="number" id="quantity" min="1" value="1">
    </div>
    <button id="purchase-btn">카트에 추가</button>
  </div>
  <div class="product-image">
    <!-- 이미지를 표시할 img 요소를 추가하고 src 속성에 이미지 경로를 설정하세요 -->
    <img id = "product-img" src="/images/product-image.jpg" alt="Product Image">
  </div>
</div>

</body>
</html>
