<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" class="no-js">
<head>
    <meta charset="UTF-8">
    <title>Shopping Mall</title>
    <link rel="stylesheet" href="/css/productStyle.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/js/headerjs.js"></script>
    <script src="/js/tokencheck.js"></script>
    <script>
        myHeader();
    </script>
</head>

<body>
<header>
    <include src="header.html"></include>
    <nav>
        <ul>
            <li><a href="/main">Home</a></li>
            <li><a href="/getProductPage">Shop</a></li>
            <li><a href="/cart">Cart</a></li>
            <li><a href="/contactPage">Contact</a></li>
            <li>
                <a href="/sign-api/login" id="login-btn">Login</a>
                <a href="" id="logout-btn">Logout</a>
            </li>
            <li><a href="/sign-api/register" id="register-btn">Sign up</a></li>
            <li><a href="/mypage" id ="mypage-btn">My Page</a></li>
            <li><a href="/addProductPage">Add Product</a></li>
            <li id = "search-li">
                <form id="search-form" action="/searchPage" method="GET">
                    <input type="text" name="q" placeholder="물품 검색">
                    <button type="button" onclick="submitSearchForm()">검색</button>
                </form>
            </li>
        </ul>
    </nav>
</header>
<main>
    <div class="product-list" id="product-list"></div>
    <script>
        $(document).ready(function() {

            $.ajax({
                url: "/getAllProduct",
                type: "GET",
                dataType: "json",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Content-type", "application/json");
                    xhr.setRequestHeader("Authorization", localStorage.getItem("jwt"));
                },
            })
                .done(function(data, status, xhr) {

                    if (data.length === 0) {
                        $('#product-list').append('<tr><td colspan="4">No products found</td></tr>');
                    } else {
                        data.forEach(function (product) {
                            $('#product-list').append(
                                '<div class="product">'+
                                '<div class="product-image">'+
                                '<img src="' + product.imgPath + '" alt="Product Image">'+
                                '</div>'+
                                '<div class="product-info">'+
                                '<h3 class="product-name">' + product.name + '</h3>'+
                                '<p class="product-stock">' +'남은 갯수: ' + product.stock + '</p>'+
                                '<p class="product-price">$' + product.price + '</p>'+
                                '</div>'+
                                '</div>'
                            ).find('.product').last().click(function() {
                                var productId = product.numb
                                getProductDetail(productId);
                            });
                        });
                    }
                }).fail(function(xhr, status, error) {
                checkToken(xhr)

            });

        });

        $(document).on('click', '.add-to-cart-button', function() {
            // 선택한 상품 정보 가져오기
            var productInfo = $(this).closest('.product').find('.product-info');
            var productName = productInfo.find('.product-name').text();
            var productStockText = productInfo.find('.product-stock').text();
            var productStock = parseInt(productStockText.match(/\d+/)[0]);
            var productPriceText = productInfo.find('.product-price').text();
            var productPrice = parseInt(productPriceText.match(/\d+/)[0]);
            var num2 = $(this).data('product-id');

            // 상품 정보를 서버로 전송하기 위한 AJAX 요청 설정
            $.ajax({
                url: '/addCart',
                type: 'POST',
                data: {
                    name : productName,
                    price : productPrice,
                    pnum: num2, // 상품 번호
                    stock: productStock, // 상품 수량
                    uno: num2 // 사용자 번호
                },
                dataType: 'json',
                beforeSend: function (xhr){
                    const token = localStorage.getItem('jwt');
                    xhr.setRequestHeader("jwt", token);
                },
                success: function(response) {
                    alert('상품이 장바구니에 추가되었습니다.');
                },
                error: function(xhr,error) {
                    checkToken(xhr)
                }
            });
        });

        function getProductDetail(productId) {
            $.ajax({
                url: '/productDetail',
                type: 'GET',
                data: { id: productId },
                dataType: 'html',
                beforeSend: function (xhr){
                    const token = localStorage.getItem('jwt');
                    xhr.setRequestHeader("jwt", token);
                },
                success: function(product) {
                    // 상세 페이지를 업데이트합니다.
                    window.location.href = '/productDetail?id=' + productId;
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log('Error: ' + errorThrown);
                }
            });
        }
    </script>
</main>

<footer>
    <p>&copy; 2023 My Company. All rights reserved.</p>
</footer>

</body>
</html>
