<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" class="no-js">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/registStyle.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="/js/headerjs.js"></script>
  <script>
    myHeader();
  </script>
  <script>
    myHeader();

    // 비밀번호 확인 함수
    function checkPassword() {
      var password = document.getElementsByName("password")[0].value;
      var password2 = document.getElementsByName("password2")[0].value;

      if (password !== password2) {
        alert("비밀번호가 동일하지 않습니다.");
        return false; // 폼 제출을 막음
      }

      return true; // 폼 제출을 허용
    }
  </script>
  <title>sign up</title>
</head>
<body>
<header>
  <include src="header.html"></include>
  <nav>
    <ul>
      <li><a href="/main">Home</a></li>
      <li><a href="/addProductPage">Shop</a></li>
      <li><a href="/cart">Cart</a></li>
      <li><a href="/contactPage">Contact</a></li>
      <li>
        <a href="/sign-api/login" id="login-btn">Login</a>
        <a href="" id="logout-btn">Logout</a>
      </li>
      <li><a href="/sign-api/register" id="register-btn">Sign up</a></li>
      <li><a href="/mypage" id ="mypage-btn">My Page</a></li>
    </ul>
  </nav>
</header>
<h1>Sign Up</h1> <hr>

<form th:action="@{/sign-api/sign-up}" method="POST" onsubmit="return checkPassword();">
  userName : <input type = "text" name="name"><br>
  id : <input type="text" name="email"> <br>
  password : <input type="password" name="password"> <br>
  password2 : <input type="password" name="password2"> <br>
  phone : <input type="text" name="phone"><br>
  <button type="submit">Join</button>
</form> <br>

<a href="/login">Go to login →</a>
</body>
</html>