<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/registStyle.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="/js/headerjs.js"></script>
  <script>
    myHeader();
  </script>
  <title>sign up</title>
</head>
<body>
<header>
  <include src="header.html"></include>
  <nav>
    <ul>
      <li><a href="/main">Home</a></li>
      <li><a href="/addProductPage">Shop</a></li>
      <li><a href="/cart">Cart</a></li>
      <li><a href="/contactPage">Contact</a></li>
      <li>
        <a href="/sign-api/login" id="login-btn">Login</a>
        <a href="" id="logout-btn">Logout</a>
      </li>
      <li><a href="/sign-api/register" id="register-btn">Sign up</a></li>
      <li><a href="/mypage" id ="mypage-btn">My Page</a></li>
    </ul>
  </nav>
</header>
<h1>Sign Up</h1> <hr>

<form th:action="@{/sign-api/sign-up}" method="POST">
  userName : <input type = "text" name="name"><br>
  id : <input type="text" name="email"> <br>
  password : <input type="password" name="password"> <br>
  phone : <input type="text" name="phone"><br>
  <input type="radio" name="auth" value="ADMIN"> ADMIN
  <input type="radio" name="auth" value="USER" checked="checked"> USER <br>
  <button type="submit">Join</button>
</form> <br>

<a href="/login">Go to login →</a>
</body>
</html>