<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>비밀번호 재설정</title>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
<h2>비밀번호 재설정</h2>
<form>
  <div class="input-group">
    <label for="password">새 비밀번호:</label>
    <input type="password" id="password" name="password" required>
  </div>
  <div class="input-group">
    <label for="confirmPassword">비밀번호 확인:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" required>
  </div>
  <div>
    <button type="button" onclick="resetPassword()">비밀번호 재설정</button>
  </div>
</form>

<script>
  function resetPassword() {
    var urlParams = new URLSearchParams(window.location.search);
    var id = urlParams.get('id');
    var phone = urlParams.get('phone');

    var password = $('#password').val();
    var confirmPassword = $('#confirmPassword').val();

    if (password !== confirmPassword) {
      alert('비밀번호가 일치하지 않습니다.');
      return;
    }

    $.ajax({
      url: '/reset_password',
      type: 'PUT',
      data: {
        id : id,
        phone : phone,
        password: password
      },
      success: function(response) {
        alert('비밀번호가 재설정되었습니다.');
        window.location.href = '/main';
        // 추가적인 작업이 필요한 경우 여기에 작성
      },
      error: function(xhr, textStatus, errorThrown) {
        alert('비밀번호 재설정에 실패하였습니다.');
        console.log('Error: ' + errorThrown);
      }
    });
  }
</script>
</body>
</html>
