<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" class="no-js">
<head>
  <meta charset="UTF-8">
  <title>Shopping Cart</title>
  <link rel="stylesheet" type="text/css" href="/css/shoppingStyle.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="/js/headerjs.js"></script>
  <script>myHeader()</script>
</head>
<body>
<header>
  <include src="header.html"></include>
  <nav>
    <ul>
      <li><a href="/main">Home</a></li>
      <li><a href="/addProductPage">Shop</a></li>
      <li><a href="/cart">Cart</a></li>
      <li><a href="/contactPage">Contact</a></li>
      <li>
        <a href="/sign-api/login" id="login-btn" sec:authorize="isAnonymous()">Login</a>
        <a href="" id="logout-btn" sec:authorize="isAuthenticated()">Logout</a>
      </li>
      <li><a href="/sign-api/register" id="register-btn">Sign up</a></li>
      <li><a href="/mypage" id ="mypage-btn">My Page</a></li>
      <li id = "search-li">
        <form id="search-form" action="/searchPage" method="GET">
          <input type="text" name="q" placeholder="물품 검색">
          <button type="button" onclick="submitSearchForm()">검색</button>
        </form>
      </li>
    </ul>
  </nav>
</header>
<h1>Shopping Cart</h1>
<table>
  <thead>
  <tr>
    <th></th>
    <th>Product</th>
    <th>Quantity</th>
    <th>Price</th>
    <th></th>
  </tr>
  </thead>
  <tbody id="cartList">
  <!-- 쇼핑카트 목록이 동적으로 추가될 자리 -->
  </tbody>
</table>
<div id="cartSummary">
  <p>Total: <span id="totalPrice"></span></p>
  <button id="checkoutButton">Checkout</button>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/shoppingCart.js"></script>
<script>
  $(document).ready(function() {
    // 왼쪽 체크 버튼 클릭 시 이벤트 처리
    $(document).on('click', '.check-button', function() {
      // 체크 버튼의 상태 변경
      $(this).toggleClass('checked');
    });
  });
</script>
</body>
</html>
