<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>User Information</title>
  <link rel="stylesheet" href="/css/style2.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="/js/headerjs.js"></script>
  <script>myHeader()</script>
  <script>
    $(document).ready(function() {
      // AJAX 요청 설정
      $.ajax({
        url: '/mypage/user_detail',
        type: 'GET',
        beforeSend: function myFunction(xhr) {
          const token = localStorage.getItem('X-AUTH-TOKEN'); // localStorage에서 토큰을 가져옴
          xhr.setRequestHeader("X-AUTH-TOKEN", token);
        },
        success: function (data, status, xhr) {
          console.log('Success: ' + data);
          document.getElementById('name').innerText = data.userName;
          document.getElementById('id').innerText = data.userId;
          document.getElementById('role').innerText = data.roles;
        },
        error: function (jqXHR, textStatus, errorThrown) {
          console.log('Error: ' + errorThrown);
        }
      });

      // 판매 목록 조회 버튼 클릭 시 이벤트 핸들러
      $('#sales-btn').on('click', function() {
        window.location.href = '/mypage/sales'; // 판매 목록 페이지로 이동
      });
    });

  </script>
  <link rel="icon" href="data:,">
</head>
<header>
  <include src="header.html"></include>
  <nav>
    <ul>
      <li><a href="/main">Home</a></li>
      <li><a href="/addProductPage">Shop</a></li>
      <li><a href="/cart">Cart</a></li>
      <li><a href="/contactPage">Contact</a></li>
      <li>
        <a href="/sign-api/login" id="login-btn" sec:authorize="isAnonymous()">Login</a>
        <a href="" id="logout-btn" sec:authorize="isAuthenticated()">Logout</a>
      </li>
      <li><a href="/sign-api/register" id="register-btn">Sign up</a></li>
      <li><a href="/mypage" id ="mypage-btn">My Page</a></li>
    </ul>
  </nav>
</header>

<body>
<div class="container">
  <h1>User Information</h1>
  <p>Name: <span id="name"></span></p>
  <p>ID: <span id="id"></span></p>
  <p>Role: <span id="role"></span></p>
  <button id="sales-btn">판매 목록 조회</button>
</div>
</body>
</html>
